language: go
go:
- go1.9.3
script:
- make test
before_deploy:
- make debs
- export DEB_VERSION=$(git describe --tags --always | sed s/^v//)
notifications:
  email: false
deploy:
  provider: packagecloud
  username: heroku
  repository: open
  dist: 'ubuntu/trusty'
  token:
    # packagecloud.io api token for user heroku-runtime-bot
    secure: GP762EzC/CoBAqWvDv6NCVmn6jgdK81SdX4/0OBYlgUs27EAQRI6WP8XC7W868h6qy1EK2lSz+MnCZrUa1UxWXIt22udbW4uWD3rC/UJPsVoggAiJFcyvm4V4QQjGCWo+1S1qn6aPAWAYyScnJ/4Q+6z4LvmeE9bSqIwlps2jv0=
  skip_cleanup: true
  file: shh_${DEB_VERSION}_amd64.deb
  on:
    tags: true
    repo: heroku/shh
